Esri_Trisoft_TopicStatus_Tool/Web References/Baseline25/Baseline25.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5">
      <s:element name="RetrieveMetaData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pasBaselineIds" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLMetaDataFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLRequestedMetaData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLObjList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RetrieveMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RetrieveMetaDataResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLObjList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMetaData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psBaselineId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLRequestedMetaData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLObjList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMetaDataResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLObjList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLMetadataFilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLRequestedMetaData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLObjList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetListResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLObjList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBaselineName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psBaselineId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutBaselineName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBaselineNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBaselineNameResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutBaselineName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBaselineId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psBaselineName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutBaselineId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBaselineIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBaselineIdResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutBaselineId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Containing">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psLogicalId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psVersionNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLRequestedMetaData" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLObjList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ContainingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ContainingResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLObjList" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBaseline">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psBaselineId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLRequestedMetadata" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLObjList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaseline" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBaselineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBaselineResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLObjList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaseline" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psBaselineId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pasStartResourceLogicalIds" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasIllustrationLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasResourceLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasResolutions" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReportResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExpandBaseline">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psBaselineId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pasStartLogicalIds" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasStartResourceLogicalIds" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasIllustrationLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasResourceLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasResolutions" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExpandBaselineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExpandBaselineResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExpandReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psBaselineReport" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pasStartLogicalIds" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasStartResourceLogicalIds" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasIllustrationLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasResourceLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasResolutions" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExpandReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExpandReportResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteBaselineByMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psBaselineId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="peAutoCompleteMode" type="tns:eBaselineAutoCompleteMode" />
            <s:element minOccurs="0" maxOccurs="1" name="pasStartLogicalIds" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasStartResourceLogicalIds" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasIllustrationLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasResourceLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasResolutions" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="eBaselineAutoCompleteMode">
        <s:restriction base="s:string">
          <s:enumeration value="ISHFirstVersion" />
          <s:enumeration value="ISHLatestReleased" />
          <s:enumeration value="ISHLatestAvailable" />
        </s:restriction>
      </s:simpleType>
      <s:element name="CompleteBaselineByModeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompleteBaselineByModeResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteReportByMode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psBaselineReport" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="peAutoCompleteMode" type="tns:eBaselineAutoCompleteMode" />
            <s:element minOccurs="0" maxOccurs="1" name="pasStartLogicalIds" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasStartResourceLogicalIds" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasIllustrationLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasResourceLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasResolutions" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CompleteReportByModeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CompleteReportByModeResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExtendReportByBaseline">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psBaselineReport" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psExtendBaselineId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pasStartLogicalIds" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasStartResourceLogicalIds" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasIllustrationLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasResourceLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasResolutions" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExtendReportByBaselineResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExtendReportByBaselineResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExtendReportByCandidate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psBaselineReport" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psExtendBaselineId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pasStartLogicalIds" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasStartResourceLogicalIds" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasIllustrationLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasResourceLanguages" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="pasResolutions" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExtendReportByCandidateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExtendReportByCandidateResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineReport" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psBaselineName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psUserGroup" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutBaselineId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutBaselineId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Rename">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psBaselineId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psNewBaselineName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RenameResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psBaselineId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psBaselineId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLChanges" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMetaData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psBaselineId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psXMLMetadata" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetMetaDataResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Freeze">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psBaselineId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineFreezeReport" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pbOutIsFrozen" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FreezeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FreezeResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineFreezeReport" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pbOutIsFrozen" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanBeFrozen">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psBaselineId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineFreezeReport" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pbOutCanBeFrozen" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CanBeFrozenResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CanBeFrozenResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psAuthContext" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="psOutXMLBaselineFreezeReport" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pbOutCanBeFrozen" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RetrieveMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:RetrieveMetaData" />
  </wsdl:message>
  <wsdl:message name="RetrieveMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:RetrieveMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetMetaData" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="GetListSoapIn">
    <wsdl:part name="parameters" element="tns:GetList" />
  </wsdl:message>
  <wsdl:message name="GetListSoapOut">
    <wsdl:part name="parameters" element="tns:GetListResponse" />
  </wsdl:message>
  <wsdl:message name="GetBaselineNameSoapIn">
    <wsdl:part name="parameters" element="tns:GetBaselineName" />
  </wsdl:message>
  <wsdl:message name="GetBaselineNameSoapOut">
    <wsdl:part name="parameters" element="tns:GetBaselineNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetBaselineIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetBaselineId" />
  </wsdl:message>
  <wsdl:message name="GetBaselineIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetBaselineIdResponse" />
  </wsdl:message>
  <wsdl:message name="ContainingSoapIn">
    <wsdl:part name="parameters" element="tns:Containing" />
  </wsdl:message>
  <wsdl:message name="ContainingSoapOut">
    <wsdl:part name="parameters" element="tns:ContainingResponse" />
  </wsdl:message>
  <wsdl:message name="GetBaselineSoapIn">
    <wsdl:part name="parameters" element="tns:GetBaseline" />
  </wsdl:message>
  <wsdl:message name="GetBaselineSoapOut">
    <wsdl:part name="parameters" element="tns:GetBaselineResponse" />
  </wsdl:message>
  <wsdl:message name="GetReportSoapIn">
    <wsdl:part name="parameters" element="tns:GetReport" />
  </wsdl:message>
  <wsdl:message name="GetReportSoapOut">
    <wsdl:part name="parameters" element="tns:GetReportResponse" />
  </wsdl:message>
  <wsdl:message name="ExpandBaselineSoapIn">
    <wsdl:part name="parameters" element="tns:ExpandBaseline" />
  </wsdl:message>
  <wsdl:message name="ExpandBaselineSoapOut">
    <wsdl:part name="parameters" element="tns:ExpandBaselineResponse" />
  </wsdl:message>
  <wsdl:message name="ExpandReportSoapIn">
    <wsdl:part name="parameters" element="tns:ExpandReport" />
  </wsdl:message>
  <wsdl:message name="ExpandReportSoapOut">
    <wsdl:part name="parameters" element="tns:ExpandReportResponse" />
  </wsdl:message>
  <wsdl:message name="CompleteBaselineByModeSoapIn">
    <wsdl:part name="parameters" element="tns:CompleteBaselineByMode" />
  </wsdl:message>
  <wsdl:message name="CompleteBaselineByModeSoapOut">
    <wsdl:part name="parameters" element="tns:CompleteBaselineByModeResponse" />
  </wsdl:message>
  <wsdl:message name="CompleteReportByModeSoapIn">
    <wsdl:part name="parameters" element="tns:CompleteReportByMode" />
  </wsdl:message>
  <wsdl:message name="CompleteReportByModeSoapOut">
    <wsdl:part name="parameters" element="tns:CompleteReportByModeResponse" />
  </wsdl:message>
  <wsdl:message name="ExtendReportByBaselineSoapIn">
    <wsdl:part name="parameters" element="tns:ExtendReportByBaseline" />
  </wsdl:message>
  <wsdl:message name="ExtendReportByBaselineSoapOut">
    <wsdl:part name="parameters" element="tns:ExtendReportByBaselineResponse" />
  </wsdl:message>
  <wsdl:message name="ExtendReportByCandidateSoapIn">
    <wsdl:part name="parameters" element="tns:ExtendReportByCandidate" />
  </wsdl:message>
  <wsdl:message name="ExtendReportByCandidateSoapOut">
    <wsdl:part name="parameters" element="tns:ExtendReportByCandidateResponse" />
  </wsdl:message>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="RenameSoapIn">
    <wsdl:part name="parameters" element="tns:Rename" />
  </wsdl:message>
  <wsdl:message name="RenameSoapOut">
    <wsdl:part name="parameters" element="tns:RenameResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="SetMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:SetMetaData" />
  </wsdl:message>
  <wsdl:message name="SetMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:SetMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="FreezeSoapIn">
    <wsdl:part name="parameters" element="tns:Freeze" />
  </wsdl:message>
  <wsdl:message name="FreezeSoapOut">
    <wsdl:part name="parameters" element="tns:FreezeResponse" />
  </wsdl:message>
  <wsdl:message name="CanBeFrozenSoapIn">
    <wsdl:part name="parameters" element="tns:CanBeFrozen" />
  </wsdl:message>
  <wsdl:message name="CanBeFrozenSoapOut">
    <wsdl:part name="parameters" element="tns:CanBeFrozenResponse" />
  </wsdl:message>
  <wsdl:portType name="BaseLine25Soap">
    <wsdl:operation name="RetrieveMetaData">
      <wsdl:input message="tns:RetrieveMetaDataSoapIn" />
      <wsdl:output message="tns:RetrieveMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaData">
      <wsdl:input message="tns:GetMetaDataSoapIn" />
      <wsdl:output message="tns:GetMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <wsdl:input message="tns:GetListSoapIn" />
      <wsdl:output message="tns:GetListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBaselineName">
      <wsdl:input message="tns:GetBaselineNameSoapIn" />
      <wsdl:output message="tns:GetBaselineNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBaselineId">
      <wsdl:input message="tns:GetBaselineIdSoapIn" />
      <wsdl:output message="tns:GetBaselineIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Containing">
      <wsdl:input message="tns:ContainingSoapIn" />
      <wsdl:output message="tns:ContainingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBaseline">
      <wsdl:input message="tns:GetBaselineSoapIn" />
      <wsdl:output message="tns:GetBaselineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <wsdl:input message="tns:GetReportSoapIn" />
      <wsdl:output message="tns:GetReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExpandBaseline">
      <wsdl:input message="tns:ExpandBaselineSoapIn" />
      <wsdl:output message="tns:ExpandBaselineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExpandReport">
      <wsdl:input message="tns:ExpandReportSoapIn" />
      <wsdl:output message="tns:ExpandReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompleteBaselineByMode">
      <wsdl:input message="tns:CompleteBaselineByModeSoapIn" />
      <wsdl:output message="tns:CompleteBaselineByModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CompleteReportByMode">
      <wsdl:input message="tns:CompleteReportByModeSoapIn" />
      <wsdl:output message="tns:CompleteReportByModeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExtendReportByBaseline">
      <wsdl:input message="tns:ExtendReportByBaselineSoapIn" />
      <wsdl:output message="tns:ExtendReportByBaselineSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ExtendReportByCandidate">
      <wsdl:input message="tns:ExtendReportByCandidateSoapIn" />
      <wsdl:output message="tns:ExtendReportByCandidateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Rename">
      <wsdl:input message="tns:RenameSoapIn" />
      <wsdl:output message="tns:RenameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input message="tns:DeleteSoapIn" />
      <wsdl:output message="tns:DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMetaData">
      <wsdl:input message="tns:SetMetaDataSoapIn" />
      <wsdl:output message="tns:SetMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Freeze">
      <wsdl:input message="tns:FreezeSoapIn" />
      <wsdl:output message="tns:FreezeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CanBeFrozen">
      <wsdl:input message="tns:CanBeFrozenSoapIn" />
      <wsdl:output message="tns:CanBeFrozenSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BaseLine25Soap" type="tns:BaseLine25Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveMetaData">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/RetrieveMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaData">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/GetMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/GetList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaselineName">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/GetBaselineName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaselineId">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/GetBaselineId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Containing">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/Containing" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaseline">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/GetBaseline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/GetReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpandBaseline">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/ExpandBaseline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpandReport">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/ExpandReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteBaselineByMode">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/CompleteBaselineByMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteReportByMode">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/CompleteReportByMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtendReportByBaseline">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/ExtendReportByBaseline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtendReportByCandidate">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/ExtendReportByCandidate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rename">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/Rename" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMetaData">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/SetMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Freeze">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/Freeze" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanBeFrozen">
      <soap:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/CanBeFrozen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BaseLine25Soap12" type="tns:BaseLine25Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RetrieveMetaData">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/RetrieveMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaData">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/GetMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetList">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/GetList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaselineName">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/GetBaselineName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaselineId">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/GetBaselineId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Containing">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/Containing" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBaseline">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/GetBaseline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReport">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/GetReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpandBaseline">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/ExpandBaseline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExpandReport">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/ExpandReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteBaselineByMode">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/CompleteBaselineByMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CompleteReportByMode">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/CompleteReportByMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtendReportByBaseline">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/ExtendReportByBaseline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExtendReportByCandidate">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/ExtendReportByCandidate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Create">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Rename">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/Rename" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMetaData">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/SetMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Freeze">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/Freeze" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CanBeFrozen">
      <soap12:operation soapAction="urn:trisoft.be:WebServices:InfoShare:BaseLine:2.5/CanBeFrozen" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BaseLine25">
    <wsdl:port name="BaseLine25Soap" binding="tns:BaseLine25Soap">
      <soap:address location="http://trisoftcms4/infoshareWS/Baseline25.asmx" />
    </wsdl:port>
    <wsdl:port name="BaseLine25Soap12" binding="tns:BaseLine25Soap12">
      <soap12:address location="http://trisoftcms4/infoshareWS/Baseline25.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>